.rock {
  font-size: 3rem;
  font-weight: 900;
  margin-top: 3rem;
  color: black;
  display: flex;
  justify-content: center;
}

.root {
  display: block;
  margin: 0 auto;
  max-width: 600px;
}

.checkbox {  
  padding: 0 1rem 1rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  label, input {
    display: flex;
  }
}

.address {
  display: none;
  
  &.visible {
    display: block;
  }
}

button {
  margin: 1rem;
  padding: 0.25rem;
}